name: farmfederate_frontend
description: FarmFederate Advisor Chat

publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  http: ^1.1.0
  mime: ^1.0.5
  http_parser: ^4.0.2
  image_picker: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
