name: farm_federate_flutter
description: Multimodal Crop Stress Detection — Chat + Image frontend
publish_to: "none"
version: 0.0.1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  http: ^0.13.6
  image_picker: ^0.8.7+4
  path: ^1.8.2
  http_parser: ^4.0.0
  provider: ^6.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
